
! Fonts {{{
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
! Xft.dpi:       220
! }}}

!urxvt256c-ml*borderLess: true
urxvt256c-ml*scrollBar:false

urxvt256c-ml*font:xft:Monospace:size=10
urxvt256c-ml*boldFont:xft:Monospace Bold:size=10

urxvt256c-ml*letterSpace:-1

urxvt256c-ml*transparent:true
urxvt256c-ml*shading:40

urxvt256c-ml*background:#222222
urxvt256c-ml*foreground:#e8e9ca

! black
urxvt256c-ml*color0  : #2E3436
urxvt256c-ml*color8  : #555753
! red
urxvt256c-ml*color1  : #CC0000
urxvt256c-ml*color9  : #e92824
! green
urxvt256c-ml*color2  : #4E9A06
urxvt256c-ml*color10 : #91d931
! yellow
urxvt256c-ml*color3  : #d0d1cd
urxvt256c-ml*color11 : #f5e84b
! blue
urxvt256c-ml*color4  : #3465a4
urxvt256c-ml*color12 : #6990c0
! magenta
urxvt256c-ml*color5  : #75507b
urxvt256c-ml*color13 : #a97fa7
! cyan
urxvt256c-ml*color6  : #06989a
urxvt256c-ml*color14 : #3465a4
! white
urxvt256c-ml*color7  : #d3d7cf
urxvt256c-ml*color15 : #ecfafd
